<h3>Zadanie 1</h3>

In [1]:
import numpy as np
import scipy.stats as sps

srednia = 2
odchylenie = 30
n = 200

rozklad = np.random.normal(srednia, odchylenie, n)

hipoteza = 2.5
stat, p = sps.ttest_1samp(rozklad, hipoteza)

print(f'Statystyka testowa: {stat}')
print(f'Wartość p: {p}')

if p < 0.05:
    print("Odrzucamy hipotezę zerową.")
else:
    print("Nie ma podstaw do odrzucenia hipotezy zerowej.")

Statystyka testowa: -0.42535776515006835
Wartość p: 0.6710355090662592
Nie ma podstaw do odrzucenia hipotezy zerowej.

<h3>Zadanie 2</h3>

In [2]:
import pandas as pd

df = pd.read_csv('pliki_csv/napoje.csv', sep = ';')
df.head(5)

   mies   rok   pepsi  fanta   żywiec  okocim  regionalne    cola   lech
0     1  2001  108447   43302  186385   54301       45065  227013  56306
1     2  2001  105439   46711  168782   68131       43933  221115  67212
2     3  2001  111675   36029  172186   63104       46663  222812  67398
3     4  2001  113232   33659  172445   50871       45195  238631  57100
4     5  2001  110274   40853  174526   67924       47926  222963  65001

In [3]:
hipotezy = {'lech': 60500, 'cola': 222000, 'regionalne': 43500}

for piwo in hipotezy.keys():
    data = df[piwo]
    stat, p = sps.ttest_1samp(data, hipotezy[piwo])
    print(f'\nTest dla: {piwo}')
    print(f'Statystyka testowa: {stat}')
    print(f'Wartość p: {p}')
    if p < 0.05:
        print(f'Odrzucamy hipotezę zerową.')
    else:
        print('Nie ma podstaw do odrzucenia hipotezy zerowej.')

Test dla: lech
Statystyka testowa: 1.646503944538866
Wartość p: 0.10130442686854728
Nie ma podstaw do odrzucenia hipotezy zerowej.

Test dla: cola
Statystyka testowa: 6.391908975571081
Wartość p: 1.2249714535216756e-09
Odrzucamy hipotezę zerową.

Test dla: regionalne
Statystyka testowa: 17.440927488514944
Wartość p: 2.2572528828603765e-41
Odrzucamy hipotezę zerową.

<h3>Zadanie 3</h3>

In [4]:
for zmienna in df.columns:
    data = df[zmienna]
    stat, p = sps.shapiro(data)
    print(f'\nTest normalności dla zmiennej {zmienna}:')
    print(f'Statystyka testowa: {stat}')
    print(f'Wartość p: {p}')
    if p < 0.05:
        print(f'Rozkład dla {zmienna} nie wykazuje normalności')
    else:
        print(f'Rozkład dla {zmienna} wykazuje normalność')

Test normalności dla zmiennej mies:
Statystyka testowa: 0.9405028820037842
Wartość p: 4.075907327205641e-07
Rozkład dla mies nie wykazuje normalności

Test normalności dla zmiennej rok:
Statystyka testowa: 0.9462482333183289
Wartość p: 1.3102297771183657e-06
Rozkład dla rok nie wykazuje normalności

Test normalności dla zmiennej pepsi:
Statystyka testowa: 0.9912384748458862
Wartość p: 0.2968809902667999
Rozkład dla pepsi wykazuje normalność

Test normalności dla zmiennej fanta :
Statystyka testowa: 0.9894830584526062
Wartość p: 0.17036965489387512
Rozkład dla fanta  wykazuje normalność

Test normalności dla zmiennej żywiec:
Statystyka testowa: 0.9913601875305176
Wartość p: 0.3080885708332062
Rozkład dla żywiec wykazuje normalność

Test normalności dla zmiennej okocim:
Statystyka testowa: 0.9875098466873169
Wartość p: 0.08890535682439804
Rozkład dla okocim wykazuje normalność

Test normalności dla zmiennej regionalne:
Statystyka testowa: 0.936504602432251
Wartość p: 1.8769230791804148e-07
Rozkład dla regionalne nie wykazuje normalności

Test normalności dla zmiennej cola:
Statystyka testowa: 0.993564248085022
Wartość p: 0.5694407224655151
Rozkład dla cola wykazuje normalność

Test normalności dla zmiennej lech:
Statystyka testowa: 0.9936927556991577
Wartość p: 0.5875554084777832
Rozkład dla lech wykazuje normalność

<h3>Zadanie 4</h3>

In [8]:
pary = [['okocim', 'lech'],
        ['fanta ', 'regionalne'],
        ['cola', 'pepsi']]

for zmienna_1, zmienna_2 in pary:
    stat, p = sps.mannwhitneyu(df[zmienna_1], df[zmienna_2])
    print(f'\nTest równości średniej dla par {zmienna_1} oraz {zmienna_2}:')
    print(f'Statystyka testowa: {stat}')
    print(f'Wartość p: {p}')
    if p < 0.05:
        print(f'Średnie {zmienna_1} oraz {zmienna_2} nie są równe.')
    else:
        print(f'Średnie {zmienna_1} oraz {zmienna_2} są równe.')

Test równości średniej dla par okocim oraz lech:
Statystyka testowa: 17861.5
Wartość p: 0.6001922392671175
Średnie okocim oraz lech są równe.

Test równości średniej dla par fanta  oraz regionalne:
Statystyka testowa: 8106.5
Wartość p: 2.223371766550974e-21
Średnie fanta  oraz regionalne nie są równe.

Test równości średniej dla par cola oraz pepsi:
Statystyka testowa: 36864.0
Wartość p: 1.9894396616299057e-64
Średnie cola oraz pepsi nie są równe.

<h3>Zadanie 5</h3>

In [9]:
pary = [['okocim', 'lech'],
        ['fanta ', 'żywiec'],
        ['cola', 'regionalne']]

for zmienna_1, zmienna_2 in pary:
    stat, p = sps.levene(df[zmienna_1], df[zmienna_2])
    print(f'\nTest równości wariancji dla par {zmienna_1} oraz {zmienna_2}:')
    print(f'Statystyka testowa: {stat}')
    print(f'Wartość p: {p}')
    if p < 0.05:
        print(f'Wariancje {zmienna_1} oraz {zmienna_2} nie są równe.')
    else:
        print(f'Wariancje {zmienna_1} oraz {zmienna_2} są równe.')

Test równości wariancji dla par okocim oraz lech:
Statystyka testowa: 1.191182232831977
Wartość p: 0.2757791126546958
Wariancje okocim oraz lech są równe.

Test równości wariancji dla par fanta  oraz żywiec:
Statystyka testowa: 1.4760992846958803
Wartość p: 0.22513624629834209
Wariancje fanta  oraz żywiec są równe.

Test równości wariancji dla par cola oraz regionalne:
Statystyka testowa: 83.85984593010029
Wartość p: 3.275749775904902e-18
Wariancje cola oraz regionalne nie są równe.

<h3>Zadanie 6</h3>

In [10]:
piwa_regionalne_2001 = df[df['rok'] == 2001]['regionalne']
piwa_regionalne_2015 = df[df['rok'] == 2015]['regionalne']

stat, p = sps.mannwhitneyu(piwa_regionalne_2001, piwa_regionalne_2015)
    
print(f'Test równości średniej pomiędzy latami 2001 i 2015 dla piw regionalnych:')
print(f'Statystyka testowa: {stat}')
print(f'Wartość p: {p}')

if p < 0.05:
    print(f'Średnie pomiedzy latami 2001 i 2015 nie są równe.')
else:
    print(f'Średnie pomiedzy latami 2001 i 2015 są równe.')

Test równości średniej pomiędzy latami 2001 i 2015 dla piw regionalnych:
Statystyka testowa: 24.0
Wartość p: 0.0060989459312143675
Średnie pomiedzy latami 2001 i 2015 nie są równe.

<h3>Zadanie 7</h3>

In [11]:
df_reklama = pd.read_csv('pliki_csv/napoje_po_reklamie.csv', sep = ';')
df_reklama.head(5)

   mies   pepsi  fanta   żywiec  okocim  regionalne    cola   lech
0     1  119110   41386  186272   64398       55561  215468  68673
1     2  107424   45669  178564   61847       48793  233941  68483
2     3  105748   47373  183368   53390       63907  229677  63300
3     4  115377   39395  184326   60062       58531  234246  61943
4     5  103003   42477  182190   63736       51395  219392  64189

In [18]:
napoje = ['cola', 'fanta ', 'pepsi']

for zmienna in napoje:
    dane_2016 = df[df['rok'] == 2001][zmienna]
    dane_reklama = df_reklama[zmienna]
    
    stat, p = sps.mannwhitneyu(dane_2016, dane_reklama)
    
    print(f'\nTest równości średniej dla {zmienna} z roku 2016 i po reklamie:')
    print(f'Statystyka testowa: {stat}')
    print(f'Wartość p: {p}')
    if p < 0.05:
        print(f'Średnie {zmienna} z roku 2016 i po reklamie nie są równe.')
    else:
        print(f'Średnie {zmienna} z roku 2016 i po reklamie są równe.')

Test równości średniej dla cola z roku 2016 i po reklamie:
Statystyka testowa: 86.0
Wartość p: 0.43573066003173655
Średnie cola z roku 2016 i po reklamie są równe.

Test równości średniej dla fanta  z roku 2016 i po reklamie:
Statystyka testowa: 56.0
Wartość p: 0.3708443333042212
Średnie fanta  z roku 2016 i po reklamie są równe.

Test równości średniej dla pepsi z roku 2016 i po reklamie:
Statystyka testowa: 91.0
Wartość p: 0.28547630885188247
Średnie pepsi z roku 2016 i po reklamie są równe.